{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "3",
        "useBuiltIns": "usage",
        "include": ["web.url", "web.url-search-params", "web.url.to-json"],
        "exclude": ["es.promise"],
        "targets": {
          "safari": "6"
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
